header {
    /* separa conteúdo da div esquerda da direita */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    /* mistério */
    scroll-margin-top: 20rem;
}

header .header__left {
    max-width: 62rem;
    /* Todos os itens dentro dessa classe irão aumentar e reduzir em igual proporção */
    flex: 1;
}

header .header__left p {
    margin-top: 2rem;
    margin-bottom: 4rem;
    max-width: 50rem;
}

header .header__right .header__image {
    /* elemento que define o posicionamento */
    position: relative;
    line-height: 0;
}

/* adicionando uma borda decorativa que ocupa toda div que estão contidas as imagens*/
header .header__right .header__image::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--tertiary-color);
    /* posiciona o elemento de forma absoluta em relação ao pai */
    /* Ou seja, o elemento se move de acordo com a div pai 'relative' */
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
    border-radius: 0.5rem;
    /* manda para trás */
    z-index: -1;
}

header .header__right .header__image .jorgi{
    min-width: 25rem;
    max-width: 100%;
}

header .header__right .header__image .background{
    /* posiciona o elemento de forma absoluta em relação ao pai */
    /* Ou seja, o elemento se move de acordo com a div pai 'relative' */
    position: absolute;
    top: -4rem;
    right: -2.5rem;
    z-index: -1;
}